__pycache__/admin.cpython-310.pyc
__pycache__/common.cpython-310.pyc
__pycache__/gui.cpython-310.pyc
__pycache__/logger.cpython-310.pyc
__pycache__/logging.cpython-310.pyc
__pycache__/sql_interface.cpython-310.pyc
__pycache__/teacher.cpython-310.pyc
log.txt
__pycache__/admin.cpython-311.pyc
__pycache__/common.cpython-311.pyc
__pycache__/gui.cpython-311.pyc
__pycache__/logger.cpython-311.pyc
__pycache__/sql_interface.cpython-311.pyc
__pycache__/student.cpython-311.pyc
__pycache__/teacher.cpython-311.pyc
